*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #29B6F6;
}

/* navbar part */

#navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 50px; */
    background-color: #1A237E;
}

#logo-img {
    width: 60%;
    padding-left: 50px;
}

img {
    width: 30%;
}

#link {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

a {
    color: white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    font-size: 25px;
}

/* table data */

/* #table {
    margin: auto;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid red;
} */

table {
    border: 1px solid black;
    margin: auto;
    width: 100%;
}

th, td {
    border: 1px solid red;
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
}

th {
    height: 40px;
    font-size: 20px;
}

td {
    height: 50px;
    text-align: center;
}
