*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #29B6F6;
}

/* navbar part */

#navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 50px; */
    background-color: #1A237E;
}

#logo-img {
    width: 60%;
    padding-left: 50px;
}

img {
    width: 30%;
}

#link {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

a {
    color: white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    font-size: 25px;
}

/* product part */

.container {
    margin: auto;
    width: 100%;
    border: 5px solid black;
    display: flex;
}

#sidebar-one {
    width: 23%;
    border: 1px solid red;
}

#sidebar-two {
    width: 77%;
    border: 1px solid green;
    
}

.card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    display: flex;
    border: 1px solid black;
    margin: 2px;
    /* justify-content: space-around; */
}

.card-image {
    width: 40%;
    height: 150px;
    /* border: 1px solid red; */
}

.img {
    width: 100%;
    height: 100%;
}

.card-body {
    width: 60%;
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}

.card-Btn {
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid red; */
}

#removeBtn:hover{
    background-color: red;
    color: white;
    font-size: large;
}

#editBtn:hover{
    background-color: green;
    color: white;
    font-size: large;
}

#editBtn {
    width: 90%;
    height: 25px;
}

#removeBtn {
    width: 90%;
    height: 25px;
}

/* side navbar */









