@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    *{
        font-family: "Poppins", sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
    }

    /* =========================== - Nav Bar - ================================ */
    
    nav{
        width: 100%;
        height: 7%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #003b95;
    }
    nav ul{ 
        list-style: none;
        display: flex;
    }
    nav ul li{ 
        padding:  3px 18px;
    }
    .Resister a{     
        background-color: #fff;
        border-radius: 20px;
        padding: 5px 20px;
        color: #000;
    }
    .Resister{ 
        color: white;
    }
    a{ 
        text-decoration: none;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        transition:  3s linear;
    } 
    nav a:hover{ 
        transition: none;
        color: rgb(231, 64, 64);
    } 
    .bi-list{
        display: none;
    } 

    /*=============================== - Media Queries - ======================================= */

    @media only screen and (max-width: 1000px){
        
        nav{
            width: 100%;
            height: 7%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 20px;
        }
        .bi-list{
            display: unset;
            width: 40px;
            height: 40px;
            margin-right: 150px;
            color: #fff;
            }    
        nav ul{
            position: absolute;
            width: 170px;
            height: auto;
            flex-direction: column;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            justify-content: center;
            top: -100%;
            left: 5px;
            z-index: 20;
            margin-top: 70px;
            padding: 10px 20px;
            backdrop-filter: blur(15px);
            transition: 1s linear;
            background-color: #003b95;
        }
        nav ul li{
            padding:5px 0px;
            text-align: left;
        }
        nav ul li a{
            color: #fff;
        }
        .active{
            position: fixed;
            flex-direction: column;
            justify-content: center;
            top: 0;
            left: 5px;
            z-index: 20;
            backdrop-filter: blur(15px);
            transition: 1s linear;
            margin: 0px;
        }
    }

    /* =========================== - Nav End - ================================ */

    body::-webkit-scrollbar {
         display: none;
    }
    .Categories {
        width: 95%;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .Categories > button {
        border: none;
        margin: 15px 5px 15px 12px;
        padding: 5px 14px;
        border: 1px solid rgb(161, 160, 160);
        cursor: pointer;
        background-color: #EBF3FF;
        border-radius: 50px;        
        transition: 0.2s ease-in-out;
    }
    .Categories > button:hover {
        transform: scale(1.05);
        background-color: #003b95;
        color: #fff;
    }
    .Categories {
        white-space: nowrap;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }
    .Categories::-webkit-scrollbar {
        display: none;
    }
    


    /* ===================================== - Left Side Div  - ==================================== */

    #Destination-body{
        display: flex;
        margin-top: 10px;
    }

    #Destination-Data25{
        height: calc(100vh - 70px);
        width: 15%;
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;
        margin: 20px 0px 0px 15px;
        /* border: 2px solid red; */
    }
    #Destination-Data25::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to bottom, rgb(252, 251, 251), rgb(140, 139, 139));
        border-radius: 500px;
    }
    #Destination-Data25::-webkit-scrollbar {
        width: 8px;
    }

    .filterSection {
        width: 100%;
        margin: auto;
        color: #000;
        font-size: 13px;
        /* border: 2px solid red; */
    }

    .filterSection h3 {
        color: #000;
        margin: 3px;
    }

    #filterPrice span {
        width: 100%;
        margin-left: 5px;
    }

    #filterPrice > div {
        display: flex;
        padding-left: 10px;
        align-items: center;
    }

    input[type=radio] {
        border: 10px;
        width: 10%;
        height: 2em;
    }



    #RatingSection {
        width: 100%;
        margin: auto;
        color: #000;
        font-size: 13px;
        /* border: 2px solid red; */
        margin-top: 10px;
    }

    #RatingSection h3 {
        color: #000;
        margin: 0px 5px;
    }
    #head{
        margin: 3px 0px;
    }

    #RatingSection > div > p {
        color: #000;
        margin: 3px;
    }

    #filterRating {
        width: 100%;
        margin-left: 5px;
    }

    #filterRating > div {
        display: flex;
        padding-left: 10px;
        align-items: center;
    }

    #filterRating > div > p {
        color: #000;
        margin: 2px 5px;
    }

    /* ===================================== - Middle Side Div start - ==================================== */

    #Destination-Data22 {
        height: calc(100vh - 70px);
        width: 65%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #Destination-Data22::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to bottom, rgb(39, 8, 173), rgb(32, 10, 155));
        border-radius: 500px;
    }
    #Destination-Data22::-webkit-scrollbar {
        width: 8px;
    }
    #Destination-Data22::-webkit-scrollbar-track {
        background-color: #dfdcdcb2;
    }

    #Destination-Data22 {
        width: 65%;
        padding: 10px;
    }
    #Destination-Data22>div {
        align-items: center;
        justify-content: space-between;
    }
    #top-div-search-filter{
        display: flex;
        margin-bottom: 25px;
    }
    .searchIcon {
        width: 30%;
        display: flex;
        border-radius: 6px;
        align-items: center;
        border: 1px solid black;
        padding: 9px;
        padding-right: 40px;
    }
    #search2 {
        width: 100%;
        border: none;
        outline: 0;
        font-size: 14px;
        padding-left: 5px;
    }
    #filter{
        width: 30%;
        padding: 8px 0px;
        padding-left: 10px;
        border-radius: 6px;
        border: 1px solid black;
    }
    #select-tag {
        border: none;
    }


    #tourist-Data{
        width: 96%;
        box-sizing: border-box;
        margin: 10px;
    }
    .card{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        transition: transform 0.4s;
    }
    .cardLeft{
        width: 25%;
        height: 170px;
        margin: auto;
    }
    .cardLeft > img{
        width: 100%;
        height: 170px;
        border-radius: 10px 0px 0px 10px;
    }


    .cardMiddle{
        width: 50%;
        padding: 8px 15px; 
    }
    .cardMiddle > p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        font-size: small;
    }
    .packageD{
        display: flex;
        gap: 10px;
    }
    .packageD > p {
        border: 1px solid rgb(194, 193, 193) ;
        margin-top: 5px;
        padding: 2px 5px;
        border-radius: 3px;
        font-size: x-small;
        font-weight: 500;
        color: rgb(69, 68, 68);
    }
    #ratingD{
        margin-top: 5px;
        border-radius: 3px;
        font-size: 10px;
        font-weight: 500;
        color: #000;
    }
    

    .cardiRght{
        width: 25%;
        text-align: right;
        padding: 15px;
        background-color: #f7f7f7;
        border-radius: 0px 10px 10px 0px;
    }
    .EMI-D{
        display: flex;
        gap: 8px;
        justify-content: end;
        font-size: 12px;
        font-weight: 500;
        color: #84898F;
    }
    .EMI-D > p:nth-child(1){
        border: 1px solid gray;
        padding: 0px 5px;
        border-radius: 3px;
    }
    .price-D s{
        font-size: x-small;
        font-weight: 500;
    }
    .priceDsc{
        font-size: x-small;
        color: #84898F;
    }
    .cardiRght > button {
        border: none;
        padding: 5px 15px;
        border: 1px solid rgb(161, 160, 160);
        cursor: pointer;
        background-color: #003b95;
        color: #fff;
        border-radius: 4px;        
        transition: 0.2s ease-in-out;
        margin-top: 10px;
    }
    .cardiRght > button:hover {
        transform: scale(1.05);
        background-color: #EBF3FF;
       color: #000;
    }


    /* ===================================== - Right Side Div - ==================================== */

    #Destination-Data {
        height: calc(100vh - 70px);
        width: 20%;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: all 0.5s ease-in-out;
    }
    #Destination-Data::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to bottom, rgb(39, 8, 173), rgb(32, 10, 155));
        border-radius: 500px;
    }
    #Destination-Data::-webkit-scrollbar {
        width: 8px;
    }
    #Destination-Data::-webkit-scrollbar-track {
        display: none;
    }
     #Destination-Data {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 20px;
        text-align: center;
    }
    #Destination-Data > div > img {
        width: 100%;
        height: 130px;
        margin: auto;
        border-radius: 10px;
    }
    #Destination-Data > div > img:hover{
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
    /* #Destination-Data h4 {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000
    } */
   
    #Destination-Data > div {
        padding: 12px;
        transition: transform 0.4s;
    }
    #Destination-Data > div:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transform: scale(1.05);
        border-radius: 10px;
    }
    /* #Destination-Data > div > button {
        margin: auto;
        border: none;
        display: block;
        padding: 10px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 40px;
        border: 2px solid rgb(205, 205, 205);
        cursor: pointer;
       
    }
    #Destination-Data > div > button:hover{
        background-color: #006ce4;
        color: #fff;
        border: 2px solid white;
    } */

    
    /* ============================ - Footer - ====================================== */
    
    footer{
        display: flex;
        flex-direction: column;
        background-color: #003b95;
        color: white;
    }
    footer .top{
        display: flex;
        justify-content: space-between;
        padding: 40px 60px;
    }
    footer .top .logo{
        width:25%;
    }
    footer .top .logo img{
        width:65%;
        margin-bottom: 18px;
    }
    footer .top .logo p{
        line-height: 25px;
        padding-left:15px;
    }
    footer .top .about{
        display: flex;
        justify-content: center;
        margin-top: 8px;
        gap: 80px;
    }
    footer .top .about h3{
        margin-bottom: 15px;
    }
    footer .top .about ul {
        list-style: none;
        line-height: 30px;
        margin-bottom: 8px;
    }
    footer .bottom{
        display: flex;
        justify-content: space-between;
        padding: 30px 70px;
        padding-bottom: 40px;
    }
    footer hr{
        width: 90%;
        margin: auto;
    }

    /* ========================== - Footer Media - =================================== */

    @media only screen and (max-width: 900px){
        footer .top p{
            display: none;
        }
        footer .top .logo{
            width:30%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        footer .top .logo img{
            width:100%;
            margin: auto;  
        }
        footer .top .about{
            display: flex;
            justify-content: center;
            margin-top: 8px;
            gap: 40px;
        }
    }

    @media only screen and (max-width: 700px){
        footer .top .logo {
            display: none;
        }
        footer .top .about {
            flex-direction: column;
            margin: auto;
            text-align: center;
        }
        footer .top .about ul {
            font-size: 16px;
        }
        footer .top .about{
            gap: 20px;
        }
        footer .bottom{
            flex-direction: column;
        }
    }

    /* ============================ - Footer End - ====================================== */