@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');



*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
  
}
body{
  /* background: linear-gradient(90deg, rgb(0, 43, 102)60%,rgb(0, 70, 145) 40.1%); */

  /* background: linear-gradient(-45deg, rgb(0, 43, 102)60%, rgb(0, 70, 145), rgb(0, 70, 145), rgb(0, 43, 102));
	background-size: 400% 400%;
	animation: gradient 7s ease-in-out infinite;   */


    
  /* background: linear-gradient(-45deg, rgb(0, 43, 102)60%, rgb(0, 70, 145), rgb(0, 70, 145), rgb(0, 43, 102)); */
  background-size: 160% 100%;
  animation: gradient 35s ease-in-out infinite;  

  background-image: url("https://assets.unenvironment.org/decadeonrestoration/2020-03/rough-horn-2146181_1280.jpg");
 
  background-repeat: no-repeat;
}
/* body img{
  height: 25vh;
  width: 15vw;
} */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  /* background: linear-gradient(90deg, rgb(0, 43, 102)60%,rgb(0, 70, 145) 40.1%); */

  /* background: linear-gradient(-45deg, rgb(0, 43, 102)60%, rgb(0, 70, 145), rgb(0, 70, 145), rgb(0, 43, 102));
	background-size: 400% 400%;
	animation: gradient 5s ease-in-out infinite;   */



  /* background: linear-gradient(-45deg, rgb(0, 43, 102)60%, rgb(0, 70, 145), rgb(0, 70, 145), rgb(0, 43, 102));
	background-size: 160% 100%;
	animation: gradient 35s ease-in-out infinite;  

    background-image: url("https://assets.unenvironment.org/decadeonrestoration/2020-03/rough-horn-2146181_1280.jpg");
   
    background-repeat: no-repeat;  */
    /* Do not repeat the image
    /* background-size: cover;  */


    /* background-color: white;
    
    width: 70vw;
    height: 40%;
    margin: auto; */

    /* border: 10px solid pink; */
}
/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

#cont{
    /* background-color: white; */
    /* border: 10px solid blue; */
    width: 80%;
    height: 80%;
    /* display: flex; */
    margin: auto;
   
    
}
.imgdiv{
    width: 40%;
    /* border: 10px solid red; */
}
.imgdiv img{
    height: 100%;
    width: 100%;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    
}
.infodiv{
    width: 60%;
    /* border: 10px solid green; */
    padding: 1%;
    padding-left: 4%;
    background-color: white;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}
.card{
    border: 10px solid;
    display: flex ;
    height: 60vh;
    justify-content: space-between;
    border-radius: 20px;
}

marquee{
    font-size: 400%;
    color: white;
    font-weight: bolder;
}
.booked{
    padding: 2%;
    margin: 7%;
    background-color: green;
    color: white;
    font-size: 150%;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: bolder;
    border-radius: 15px;
}





nav{
    width: 100%;
    height: 7%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
nav ul{ 
    list-style: none;
    display: flex;
}
nav ul li{ 
    padding:  3px 15px;
}
.Resister a{     
    background-color:white;
    border-radius: 20px;
    padding: 5px 20px;
    color:black;
}
.Resister{ 
    color: white;
   
}
a{ 
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition:  3s linear;
} 
nav a:hover{ 
    transition: none;
    color: rgb(231, 64, 64);
} 
.bi-list{
    display: none;
} 

/*=============================== - Media Queries - ======================================= */

@media only screen and (max-width: 1000px){
    
    nav{
        width: 100%;
        height: 7%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;
    }
    .bi-list{
        display: unset;
        width: 40px;
        height: 40px;
        margin-right: 150px;
        }    
    nav ul{
        position: absolute;
        width: 170px;
        height: auto;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        justify-content: center;
        top: -100%;
        left: 5px;
        z-index: 20;
        margin-top: 70px;
        padding: 10px 20px;
        backdrop-filter: blur(15px);
        transition: 1s linear;
    }
    nav ul li{
        padding:5px 0px;
        text-align: left;
    }
    nav ul li a{
        color: black;
    }
    .active{
        position: fixed;
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 5px;
        z-index: 20;
        backdrop-filter: blur(15px);
        transition: 1s linear;
        margin: 0px;
    }
}
